apiVersion: v1
kind: Namespace
metadata:
  name: dev
---
apiVersion: v1
kind: Service
metadata:
  name: bd-backend
  namespace: dev
spec:
  selector:
    app: bd-backend
  ports:
    - name: http
      port: 80
      targetPort: 8080
      protocol: TCP
  type: ClusterIP
---
apiVersion: v1
kind: Service
metadata:
  name: bd-frontend
  namespace: dev
spec:
  selector:
    app: bd-frontend
  ports:
    - name: http
      port: 80
      targetPort: 3000
      protocol: TCP
  type: ClusterIP
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: bd-ingress
  namespace: dev
spec:
  ingressClassName: nginx
  rules:
    - http:
        paths:
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: bd-backend
                port:
                  number: 80
          - path: /health
            pathType: Prefix
            backend:
              service:
                name: bd-backend
                port:
                  number: 80
          - path: /
            pathType: Prefix
            backend:
              service:
                name: bd-frontend
                port:
                  number: 80
